<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fby.lesson">

    <application>
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson"
            android:theme="@style/Theme.MyApplication.NoActionBar"></activity>
    </application>

</manifest>